body {
    margin: 0px;
    font-family: sans-serif;
}

#map-wrapper {
    width:50%;
    float:right;
}

#nearby-list-buttons {
    padding-top: 1em;
    padding-left: 2.5em;    
    margin-bottom: .5em;
}

#nearby-list-buttons button {
    display:none;
}

#nearby-list {
    padding: 2.5em;
    padding-top: .5em;
    height:700px !important;
    max-height:700px !important;
    overflow: scroll;
}

.nearby-list-tags {
    margin-bottom: 1em;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}

.nearby-list-venues {
    margin-bottom: 1em;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
    padding:.5em;
    padding-left:1.5em;
    display: none;
    background-color:#ccc;       
}

.nearby-list-venues li {
    padding-top:.5em;
}

.nearby-tag {
    font-weight: 700;
}

.nearby-tag-count {
    font-weight: 200;
    font-size: small;
    color: #666;
}

.nearby-tag-count:before {
    content: " – ";
}

.nearby-venue {
}

.nearby-venue-current {
    background-color:grey;
}

.nearby-meta  {
    padding-left: .5em;
    margin-left: 0px;
    font-size:small;
    display: inline !important;
    color: #666;
}

.nearby-meta li {
    display: inline !important;
}

.nearby-buttons  {
    padding-left: 0em;
    margin-left: 0px;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size:small;
    color: #666;
}

.nearby-buttons li {
    display: inline !important;
    padding-right: 1em;    
}

.nearby-buttons li:last-child {
    padding-right: 0px;
}

#ip-lookups {
    display:none;
}
